@charset "utf-8";

.modal-open {
	overflow: hidden;
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition:      -o-transform .3s ease-out;
	transition:         transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.modal-dialog {
	position: relative;
	width: 700px;
	margin: 140px auto 35px;
}
.modal-content {
	position: relative;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	outline: 0;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal-header {
	position: absolute;
	top:0;
	right:0;
	min-height: 16.42857143px;
}
.modal-header .close {
	position: absolute;
	top:5px;
	right:-5px;
	border: 0px;
	font-size: 30px;
	background-color: #ffffff;
	outline: none;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	position: relative;
	padding: 15px;
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
	margin-bottom: 0;
	margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0;
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
@media (min-width: 1400px) {
	.modal-dialog {
		width: 50%;
	}

}
.form_content{
	width:680px;
	height: 400px;
	background-color: #ffffff;
	border: 1px solid #333333;
	border-radius: 3px;
	padding: 15px;
}
.form_content .form_title{
	height: 35px;
	line-height: 35px;
	font-size: 16px;
}
.form_item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
}
.form_textarea{
	height: 100px;
}
.form_item .form_label{
	width: 83px;
	text-align: right;
}
.form_item .form_control{
	margin-left: 10px;
}
.form_item .input1{
	height: 30px;
	border:1px solid #999999;
	outline: none;
	border-radius: 2px;
	padding-left: 3px;
}
.form_item span{
	color:red;
}
.submit_msg{
	padding: 5px 20px;
	border: 0px;
	background-color: #F60D54;
	color:#ffffff;
	font-size: 16px;
	border-radius: 3px;
	outline: none;
}
.submit_msg:hover{
	opacity: 0.8;
}